.kanban {
  background-color: #100c28;
  padding: 10px 0;
}

.kanban__title {
  text-align: center;
  font-size: 28px;
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
}

.kanban__inner {
  display: flex;
  flex-wrap: wrap;

  .kanban__item {
    width: 177.5px; // FIXME: do not hardcode. use calc()?
    height: 150px;
    border-radius: 10px;
    text-align: center;
    margin: 0 0 8px 8px;

    :nth-child(4n) {
      margin-right: 0;
    }
  }

  .kanban__item-data {
    margin: 0;
    padding-top: 22px;
    font-size: 45px;
    font-weight: 700;
    font-family: PingFang SC, Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Heiti SC, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  }

  .kanban__item-label {
    margin: 0;
    padding-top: 5px;
    font-size: 25px;
    font-weight: 700;
    font-family: PingFang SC, Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Heiti SC, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  }
}

.kanban__item--confirm {
  background-color: #fefaf7;

  .kanban__item-data {
    color: #e47d7e;
  }
}

.kanban__item--wzz {
  background-color: #fef8fe;

  .kanban__item-data {
    color: #fdc368;
  }
}

.kanban__item--cured {
  background-color: #fdf5f4;

  .kanban__item-data {
    color: #6bdab4;
  }
}

.kanban__item--death {
  background-color: #f4f6f8;

  .kanban__item-data {
    color: #4e5a65;
  }
}

.kanban__item--total_confirm {
  background-color: #fefaf7;

  .kanban__item-data {
    color: #e47d7e;
  }
}

.kanban__item--total_wzz_correct {
  background-color: #fef8fe;

  .kanban__item-data {
    color: #fdc368;
  }
}

.kanban__item--total_cured {
  background-color: #fdf5f4;

  .kanban__item-data {
    color: #6bdab4;
  }
}

.kanban__item--total_death {
  background-color: #f4f6f8;

  .kanban__item-data {
    color: #4e5a65;
  }
}
