.taro-table-wrapper .taro-table-scroll .taro-table-head .taro-table-title-text,
.taro-table-wrapper .taro-table-scroll .taro-table-body .taro-table-row .taro-table-col {
  font-size: 12px;
}
.taro-table-wrapper .taro-table-scroll .taro-table-body .taro-table-empty,
.loading-wrapper .loading-text,
.load-more .no-more-text {
  font-size: 10px;
}
.taro-table-wrapper .taro-table-scroll .taro-table-head,
.taro-table-wrapper .taro-table-scroll .taro-table-head .taro-table-title {
  height: auto;
}
.taro-table-wrapper .taro-table-scroll .taro-table-head .taro-table-title {
  color: #000;
}
.taro-table-wrapper .taro-table-scroll .taro-table-body .taro-table-row .taro-table-col {
  padding: 0;
}
